<mat-toolbar color="primary" class="toolbar">

  <!-- ZONA IZQUIERDA: LOGOS -->
  <div class="toolbar-left">
    <img
      src="assets/logos/Logo-marca-aplicacion-web.png"
      alt="FactoryControl"
      class="logo-app"
    />

    <img
      src="assets/logos/Logo-marca-cliente-aplicacion.png"
      alt="Empresa"
      class="logo-company"
    />
  </div>

  <!-- ZONA CENTRAL: TEXTOS -->
  <div class="toolbar-center">
    <div class="title">
      Bienvenido a FactoryControl
    </div>

    <div class="subtitle" *ngIf="user$ | async as user; else loginText">
      {{ user.nombre }} {{ user.apellidos }} - Nº {{ user.numeroEmpleado }}
    </div>

    <ng-template #loginText>
      <div class="subtitle">
        Acceda a su aplicación
      </div>
    </ng-template>
  </div>

  <!-- ZONA DERECHA: ACCIÓN -->
  <div class="toolbar-right">
    <button mat-icon-button (click)="onActionClick()">
      <mat-icon>
        {{ isLoginPage ? 'login' : 'logout' }}
      </mat-icon>
    </button>
  </div>

</mat-toolbar>
