:host {
  display: block;
  height: 100%;
  overflow: hidden;
}

mat-nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  gap: 50px;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

a {
  justify-content: center;
  height: 52px;
  //width: 52px;
  border-radius: 14px;
  color: var(--fc-nav-icon);
  //opacity: 0.92;
}

mat-icon {
  font-size: 28px;
  width: 28px;
  color: var(--fc-nav-icon);
  height: 28px;
}

a.active {
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.10);
}

:host ::ng-deep .mdc-list-item__primary-text {
  display: flex;
  justify-content: center;
}

:host ::ng-deep .mat-mdc-nav-list,
:host ::ng-deep .mat-mdc-list-base {
  overflow: hidden;
}
