<mat-nav-list>

  <a mat-list-item routerLink="/app/dashboard" routerLinkActive="active">
    <mat-icon>home</mat-icon>
  </a>

  <a mat-list-item routerLink="/app/maquinas" routerLinkActive="active">
    <mat-icon>precision_manufacturing</mat-icon>
  </a>

  <a mat-list-item routerLink="/app/averias" routerLinkActive="active">
    <mat-icon>warning</mat-icon>
  </a>

  <a mat-list-item routerLink="/app/preventivos" routerLinkActive="active">
    <mat-icon>assignment</mat-icon>
  </a>

</mat-nav-list>
