:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* El contenedor inferior ocupa el resto */
.layout-container {
  flex: 1;
}

/* Sidenav */
.sidenav {
  width: 72px;
  min-width: 72px;
  max-width: 72px;
  border-right: 1px solid #e0e0e0;
}

/* Contenido */
.content {
  padding: 24px;
  height: 100%;
  box-sizing: border-box;
}
